/*  General Styles */
html{
  font-size:16px;
}

body{
  width: 100%;
  font-family: 'Roboto', sans-serif;

}

p{
  line-height: 1.2;
}

a{
  text-decoration: none;
  color: black;
}

p,a,span{
  font-size:1.125rem;
}

h1{
  font-size: 3.5rem;
  font-family: 'Acme', sans-serif;
}

h2{
  font-size: 2.4rem;
  font-family: 'Acme', sans-serif;
}

h3{
  font-size:1.5rem;
  font-family: 'Acme', sans-serif;
}

.center{
  text-align: center;
  padding-top: 2rem;
}

.menuMobile{
  display: none;
}

.showElementMoblie {
  display: none;
}

/*  Fiexd Header */
header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height:4rem;
  background-color:rgb(240,240,240);
  position: fixed;
  top:0;
  z-index: 2;
  width: 100%;
}

header .logo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 2.5rem;
  height:2rem;
}

header .logo img{
  margin-right:0.2rem;
}

header li{
  display: inline-block;
  margin-right:1rem;
}

header li:last-child{
  margin-right: 2.5rem;
}

.logo span:last-child{
  color:gray;
}

/*  Responsive Header up to 680px */
@media only screen and (max-width:680px){
  .menuMobile{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0 1rem;
  }

  .remove{
    display: none;
  }
  .logo.remove{
    display: none;
  }
}

/*  Main Banner section  */
.mainBanner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width:100%;
  background-image: -webkit-linear-gradient(hsl(0, 91.2%, 51.0%), hsl(0, 81.2%, 61.0%),hsl(0, 71.2%, 71.0%),hsl(10, 91.2%, 61%),hsl(23, 91.2%, 51%),hsl(30, 91.2%, 51%),hsl(37, 91.2%, 51%));
  background-image: linear-gradient(hsl(0, 91.2%, 51.0%), hsl(0, 81.2%, 61.0%),hsl(0, 71.2%, 71.0%),hsl(10, 91.2%, 61%),hsl(23, 91.2%, 51%),hsl(30, 91.2%, 51%),hsl(37, 91.2%, 51%));
  margin-top: 4rem;
}

.imgContain {
  width: 60%;
  height: auto;
  margin:2rem 0 2rem 2.5rem;
}

.imgContain img{
  max-width: 100%;
  max-height: 100%;
}

.startLearn{
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 7.6%;
  margin-left: 1.5rem;
}

.startLearn h1{
  margin-bottom:2vw;
  font-size: 4.5vw;
}

.startLearn h2{
  font-size: 2.5vw;
  font-family: 'Roboto', sans-serif;
}

.startLearn a{
  color: #FC757C;
}

.startLearn .btn{
  width: 77%;
  text-align: center;
  background-color:hsl(357,100%,29.2%);
  padding: 1rem 0;
  margin-top: 3vw;
  font-size: 1.3rem;
}

/*  Responsive Main Banner section up to 680px */
@media only screen and (max-width:760px){
  .mainBanner{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .imgContain{
    width: 100%;
    margin: 0;
  }

  .startLearn{
    width: 100%;
    margin: 0;
  }

  .startLearn .btn{
    width: 95%;
    margin: 1.8rem auto;
  }

  .startLearn h1{
    font-size: 11vw;
    margin: 2rem 3rem 2rem 2.5%;
  }

  .startLearn h2{
    font-size: 7vw;
    margin-left: 3%;
    margin-right:3rem;
  }
}

/*  Responsive Main Banner section up to 480px */
@media only screen and (max-width:480px){
  .startLearn .btn{
    margin-bottom: 2.7rem;
  }
}

/* Campus Information section */
.campusInfo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  background-image: -webkit-linear-gradient(hsl(38, 91.2%, 51.0%), hsl(38, 81.2%, 61.0%),hsl(38, 71.2%, 71.0%),hsl(58, 91.2%, 67%),hsl(78, 91.2%, 60%),hsl(98, 91.2%, 51%),hsl(119, 87.5%, 40.8%));
  background-image: linear-gradient(hsl(38, 91.2%, 51.0%), hsl(38, 81.2%, 61.0%),hsl(38, 71.2%, 71.0%),hsl(58, 91.2%, 67%),hsl(78, 91.2%, 60%),hsl(98, 91.2%, 51%),hsl(119, 87.5%, 40.8%));
}


.blue{
  background-color: transparent;
}
.blue .subHead{
  background-color: transparent;
}

.blue .subHead.guest{
  background-color: transparent;
}

.campusInfo.videoSection{
  background-image: -webkit-linear-gradient(hsl(217, 74.1%, 36.3%), hsl(217, 64.1%, 46.3%),hsl(217, 54.1%, 56.3%),hsl(167, 55.5%, 54.8%),hsl(115, 25.5%, 64.8%),hsl(64, 24%, 75.8%),hsl(2, 2%, 90%));
  background-image: linear-gradient(hsl(217, 74.1%, 36.3%), hsl(217, 64.1%, 46.3%),hsl(217, 54.1%, 56.3%),hsl(167, 55.5%, 54.8%),hsl(115, 25.5%, 64.8%),hsl(64, 24%, 75.8%),hsl(2, 2%, 90%));
}

.center.blue{
  position: relative;
  z-index: 1;
  background-color: hsl(217, 74.1%, 36.3%);
}

.subjectInfo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
  padding-left: 2.5rem;
  padding-right: 1.7rem;
  border-right: 1px solid #BF7B0B;
}

.blue .subHead{
  border:1px solid #082E63;
}

.subjectInfo.noBorder{
  border-right:0px;
}

.subjectInfo img{
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

.subjectInfo video{
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

.subjectInfo h2{
  margin-bottom: 1.5rem;
}

.subjectInfo h3{
  margin-bottom:1rem;
}

.subjectInfo p{
  margin-bottom: 2rem;
}

.subHeads{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 40%;
  margin-top: 1.85rem;
  margin-left: 1.5rem;
  margin-right:1.5rem;

}

.subHead{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding:0.5rem 0;
  margin:0.1rem 0;
  background-color: white;
  border: 1px solid #BF7B0B;
  background-color: transparent ;
}

#Orientation{
  padding: 0;
}

.subImgCont{
  width: 35%;
  height: auto;
}

.subImgCont img{
  width: 100%;
  height: auto;
}

.subInfo{
  width:65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  padding-left:1.7rem;
  margin-right: 0.5rem;
}

.subInfo p{
  margin:1rem 0;
}

/* Responsive Campus information section up to 960px */
@media only screen and (max-width:960px){
  .subImgCont{
    width: 50%;
  }

  .subInfo{
    width: 50%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .subHead{
    padding: 0;
  }

  .subjectInfo{
    width:50%;
  }

  .subHeads{
    width:50%;
  }

  .videoSection .guest{
    margin-bottom:0.5rem;
  }
}

/* Responsive Campus information section up to 680px */
@media only screen and (max-width:760px){
  .campusInfo{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    padding: 0 2.5%;
  }

  .subHeads{
    width: 100%;
    margin: 1.5rem 0;
    padding:0;
  }

  .subImgCont{
    width: 35%;
  }

  .subjectInfo{
    width:100%;
    padding:0;
    border-right:0px;
  }

  .subInfo{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/* Responsive Campus information section up to 480px */
@media only screen and (max-width:480px){

  .showElementMoblie{
    display: inline-block;
  }

  .removeMobile{
    display: none;
  }

  .subInfo{
    width: 100%;
    padding: 0;
  }

  .subjectInfo.removeMobile{
    display: none;
  }

  .subHeads.removeMobile{
    display: none;
  }

  .subHead{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2.3rem;
    border: 0px;
  }

  .subImgCont{
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .subjectInfo video{
    margin-top: 1.3rem;
  }
}

/* Catalog section */
.learning{
  background-image: -webkit-linear-gradient(hsl(120, 87.5%, 40.8%), hsl(120, 77.5%, 50.8%),hsl(120, 67.5%, 60.8%),hsl(144, 77.5%, 50.8%),hsl(168, 87.5%, 40.8%),hsl(192, 87.5%, 40.8%),hsl(216, 74.1%, 36.3%));
  background-image: linear-gradient(hsl(120, 87.5%, 40.8%), hsl(120, 77.5%, 50.8%),hsl(120, 67.5%, 60.8%),hsl(144, 77.5%, 50.8%),hsl(168, 87.5%, 40.8%),hsl(192, 87.5%, 40.8%),hsl(216, 74.1%, 36.3%));
}

.catalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5.5%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.course{
  width: 30%;
  margin:2rem 1.2%;
  background-color:transparent;
  border: 1px solid hsla(120,68%,38%,0.6);
}

.course h3{
  margin-top:1rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.course span{
  display: inline-block;
  margin:0.7rem 0;
  font-size: 1.1rem;
}

.course p{
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom:1.5rem;
}

.course h3,.course span,.course p{
  margin-left: 1rem;
}

.course img{
  width: 100%;
  height: auto;
}

/* Responsive Catalog section up to 960px */
@media only screen and (max-width:960px){

  .course{
    width: 47%;
  }
}

/* Responsive Catalog section up to 680px */
@media only screen and (max-width:680px){
  .course{
    width: 80%;
  }

  .catalog{
    margin: 0;
  }
}

/* Responsive Catalog section up to 480px */
@media only screen and (max-width:480px){
  .learning h1{
    padding-bottom: 1.5rem;
  }
}


.mobileCatalog a{
  display: block;
  font-size: 2.3rem;
  background-color:transparent;
  border:3px solid hsla(0,0%,25%,0.8);
  margin-bottom: 0.5rem;
  padding: 1.1rem 2rem ;
  font-weight: 600;
  color: hsla(0,0%,0%,0.85);
}

.mobileCatalog a:last-child{
  margin-bottom: 4rem;
}
.mobileCatalog a:first-child{
  margin-top: 1rem;
}


/* Footer section */
footer{
  height: 5rem;
  background-color:rgb(240,240,240);
}

footer a,footer p{
  display: inline-block;
  margin-top: 1rem;
}

footer a{
  float: right;
  margin: 1rem 1rem;
}

footer p{
  margin-left: 2.5rem;
}

/* Resopnsive Footer section up to 540px */
@media only screen and (max-width:540px){

  footer a{
    display: block;
    clear: both;
  }
}

/* Resopnsive Footer section up to 480px */
@media only screen and (max-width:480px){

  footer{
    text-align: center;
  }

  footer p{
    margin: 0;
    padding-top: 2rem;
  }
}
